{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
{% load custom_tags %}

<div class="container-fluid">

	<section class="row title-row">
		<div class="fill-screen stellar-bg" 
			 style="background-image: url({% static page.main_bg.path %})"
			 data-stellar-background-ratio="0.2">
			<img class="img-responsive title-image" src="{% static 'app/img/site_logo2.png' %}" alt="Site Logo">

            <div class="down-button">
                <a class="btn" href="#careerstory">
                    <i class="fa fa-arrow-circle-down fa-4x"></i>
                </a>
            </div>
		</div>
	</section>

    {% for section in page.get_sections %}
    <section id="{{section.title|lowerStrip}}" class="{% if section.css_class %}{{ section.css_class }}{% endif %}">
        {% if section.get_type == 'textSection' %}
            <h1>{{ section.title }}</h1>
            {% for paragraph in section.get_paragraphs %}
            <p>
                {{ paragraph.content|safe }}
            </p>
            {% endfor %}
        {% elif section.get_type == 'imageSection' %}
            <div class="{% if section.image.css_class %}{{ section.image.css_class }}{% endif %}" 
			     style="background-image: url({% static section.image.path %})">
		    </div>
        {% elif section.get_type == 'iconSection' %}
            <h1>{{ section.title }}</h1>
            {% for ib in section.get_imagebars %}
            <div class="{% if ib.css_class %}{{ ib.css_class }}{% endif %}">
                {% for image in ib.get_images %}
                <div class="{% if image.css_class %}{{ image.css_class }}{% endif %}">
                    <img src="{% static image.path %}" />
                    {% if image.title %}
                    <h2>{{ image.title }}</h2>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        {% else %}
            <h1>UNKNOWN SECTION</h1>
        {% endif %}

    </section>

    {% endfor %}
</div>

<footer class="container-fluid">
    <div class="row">
        <h1>Jere Paavola</h1>
		<b>Address:</b>Huuhkajankatu 4, 37140 Nokia
		<br/>
		<b>Phone number:</b>+358 50 486 7206
    </div>
</footer>


{% endblock %}
